<!--A página de detalhe deve conter a imagem do filme em um tamanho maior, juntamente com informações mais
 detalhadas sobre o mesmo (essas informações ficam a seu critério, o que achar importante e
 interessante mostrar para o usuário)-->

<div class="h-100 p-5" nz-row nzAlign="middle" nzJustify="center">
  <div class="div-img text-center m-auto" nz-col nzLg="12" nzSm="24" nzSpan="4" nzXs="24">
    <img alt="{{movie.title}} poster"
         class="img-fluid img-poster"
         nz-image
         nzSrc="https://www.themoviedb.org/t/p/w220_and_h330_face{{movie.poster_path}}">
  </div>
  <div nz-col nzLg="12" nzSm="24" nzSpan="4" nzXs="24">
    <div class="d-inline">
      <h2>{{movie.title}}</h2>
      <app-movie-stars [voteAverage]="movie.vote_average"></app-movie-stars>
    </div>
    <br>
    <span>Titulo original: {{movie.original_title}}</span>
    <br>
    <span>Língua original: {{movie.original_language}}</span>
    <br>
    <span>Tempo de filme: {{movie.runtime}}min</span>
    <br>
    <span>Custo: US${{movie.budget | currency}}</span>
    <br>
    <span>Receita nas bilheterias: US${{movie.revenue | currency}}</span>
    <br>
    <nz-divider></nz-divider>
    <p class="lead">{{movie.overview}}</p>
    <nz-divider></nz-divider>
    <div class="text-center" nz-row nzJustify="center">
      <div class="my-3" nz-col nzLg="12" nzSpan="6" nzXs="24">
        <nz-list class="w-75 m-auto h-100 overflow-auto" nzBordered nzHeader="Generos:">
          <nz-list-item *ngFor="let g of movie.genres">{{g.name}}</nz-list-item>
        </nz-list>
      </div>
      <div class="my-3" nz-col nzLg="12" nzSpan="6" nzXs="24">
        <nz-list class="w-75 m-auto h-100 overflow-auto" nzBordered nzHeader="Paises onde foi filmado:">
          <nz-list-item *ngFor="let pc of movie.production_countries">{{pc.name}}</nz-list-item>
        </nz-list>
      </div>
    </div>
  </div>
</div>
