<nz-layout>
  <ng-template [ngIf]="!moviesListLoading$">
    <!-- Navbar -->
    <nz-header>
      <div class="logo">
        <img
          alt="logo"
          class="img-logo"
          src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg">
      </div>
      <ul nz-menu nzMode="horizontal" nzTheme="dark">
        <li nz-menu-item routerLink="/welcome">Trending</li>
      </ul>
    </nz-header>

    <!-- Sub-Navbar -->
    <nz-header class="header-2">
      <div nz-row nzJustify="center">
        <div nz-col nzLg="8" nzMd="12" nzSm="20">
          <app-search></app-search>
        </div>
      </div>
    </nz-header>

    <!-- Conteúdo -->
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </ng-template>
  <ng-template [ngIf]="moviesListLoading$">
    <!-- Tela de carregamento -->
    <div class="loading-page" nz-row nzAlign="middle" nzJustify="center">
      <div nz-col>
        <h3>Carregando, aguarde alguns instantes</h3>
        <i nz-icon nzTheme="outline" nzType="loading"></i>
      </div>
    </div>
  </ng-template>
</nz-layout>
