nz-content {
  height: calc(100vh - 104px) !important;
  overflow: auto;
}

[nz-menu] {
  line-height: 64px;
  display: flex;
}

.logo {
  width: 10em;
  margin: auto 16px;
  float: left;
}

.img-logo {
  width: 100%;
}

.loading-page {
  height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
}

.header-2 {
  height: 40px;
  background-color: #d3d3d3;
}

.header-2 > .ant-row {
  margin: 4px auto;
  height: 32px !important;
}

